language: node_js
node_js:
  - "0.10"
  - "0.12"
  - '1'
  - '2'
  - '3'
  - '4'
  - '5'
  - '6'
script: "npm run test-travis"
after_script: "cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js"